@charset "UTF-8";

.main {
  margin-top: 100px;
  width: 100%;
}

.contents {
  position: relative;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFF;
  border-radius: 20px;
}

.about {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.about section {
  margin-bottom: 100px;
  text-align: center;
}

.about h1 {
  margin: 50px;
  font-size: 30px;
  border-bottom: 2px solid #000;
  display: inline-block;
  text-shadow: 5px 5px 5px #0003;
}

.about p {
  margin-left: 50px;
  margin-right: 50px;
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 300%;
}
