@charset "UTF-8";

/***************************************************************/
/*共通*/
/***************************************************************/
.main {
  margin-top: 100px;
  width: 100%;
}

.contents {
  position: relative;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFF;
  margin-bottom: 50px;
}

.contents h1 {
  padding: 20px;
  margin: 20px;
  border-bottom: 3px solid #000;
  color: #222;
}

.contents section {
  margin: 30px;
}

.contents p {
  font-size: 20px;
  line-height: 200%;
  margin-bottom: 100px;
}

.contents ul {
  top: 100px;
  display: inline-block;
  font-size: 20px;
  line-height: 200%;
  list-style: none;
}

.map_frame {
  display: inline-block;
  margin-left: 25px;
  border: 2px solid #000;
}

/***************************************************************/
/*横480px以上(PC, 横向きタブレット)*/
/***************************************************************/
@media screen and (min-width: 480px) {

  .contents section {
    position: absolute;
  }

  .map_frame {
    position: relative;
    left: 500px;
    width: calc(100% - 550px);
    max-width: 450px;
    height: 450px;
  }
}
/***************************************************************/
/*横480px以下(縦向きタブレット)*/
/***************************************************************/
@media screen and (max-width: 480px) {
  .map_frame {
    width: calc(100vw - 50px);
    height: calc(100vw - 50px);
  }
}
