@charset "UTF-8";

.header {
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.header .background {
  position: relative;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  min-width: 1920px;
  height: 100%;
  border-bottom: 10px solid #000;
  filter: blur(2px);
  background-image: url("img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  animation: header_animation 10s ease 0s infinite alternate;
}

@keyframes header_animation {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}
.frame {
  position: relative;
  width: 100%;
  bottom: 100px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
}

.frame .list_box {
  width: 1000px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}

.frame li {
  width: 250px;
  height: 75px;
  box-shadow: 5px 5px 5px 5px #000;
}

.frame img {
  width: 100%;
  height: 100%;
}
