@charset "utf-8";

/***************************************************************/
/*共通*/
/***************************************************************/
/***************************************************************/
/*横480px以上(PC, 横向きタブレット)*/
/***************************************************************/
/*@media screen and (min-width: 480px) {}*/

/***************************************************************/
/*横480px以下(縦向きタブレット)*/
/***************************************************************/
/*@media screen and (max-width: 480px) {}*/

* {
  padding: 0;
  margin: 0;
  font-family: arial, sans-serif;
}

body {
  background-color: #FFF;
}

.main {
  position: relative;
  top: 20px;
  width: 100vw;
  z-index: -5;
  background-color: #FFF;
}

.contents {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.latest_news_board {
  width: 100%;
  border-radius: 10px;
}

.latest_news_board h1 {
  margin: 20px;
  border-bottom: 1px solid #000;
  color: #222;
}

.latest_news_board .list_box {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 100px;
}

.list_box .list_item {
  position: relative;
  margin: 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px 0px;
  transition: 0.2s linear;
  display: inline-block;
}

.list_box .list_item img {
  width: 100%;
  height: 100%;
  display: block;
}

.list_box .list_item a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #FFF;
  border-radius: 10px;
  overflow: hidden;
}

.list_box .list_item p {
  font-size: 14px;
  color: WHITE;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: calc(100% - 10px);
  overflow: hidden;
  height: auto;
  padding: 5px;
}

.list_box .list_item a:hover {
  border: 2px solid #F00;
}

.list_box .list_item a:hover>p {
  height: 40px;
}

.list_box .list_item a:hover>img {
  animation: blink 1.5s ease-in-out infinite alternate;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}

.contents .twitter {
  position: absolute;
  font-size: 15px;
  border: 2px solid #999;
  margin: auto;
}

/***************************************************************/
/*横480px以上(PC, 横向きタブレット)*/
/***************************************************************/
@media screen and (min-width: 480px) {
  .contents {
    max-width: 1000px;
    min-width: 768px;
  }

  .latest_news_board {
    position: absolute;
    width: 480px;
    height: 600px;
    margin: 20px;
    background-color: #FFF;
    border: 2px solid #999;
    border-radius: 10px;
  }

  .latest_news_board h1 {
    font-size: 20px;
  }

  .list_box .list_item {
    width: 150px;
    height: 150px;
  }

  .contents .twitter {
    position: absolute;
    top: 20px;
    width: calc(100vw - 480px - 50px);
    max-width: 300px;
    height: 600px;
    left: 520px;
    border-radius: 10px;
  }
}

/***************************************************************/
/*横480px以下(縦向きタブレット)*/
/***************************************************************/
@media screen and (max-width: 480px) {

  .contents {
    height: 0px;
  }

  .latest_news_board {
    position: absolute;
    z-index: 5;
  }

  .latest_news_board h1 {
    font-size: 6vw;
  }

  .list_box .list_item {
    --size: calc((100vw / 2) - 20px);
    width: var(--size);
    height: var(--size);
  }

  .contents .twitter {
    position: relative;
    width: calc(100vw - 50px);
    height: 400px;
    top: 1100px;
  }
}
