@charset "UTF-8";

/***************************************************************/
/*共通*/
/***************************************************************/
.main {
  margin-top: 100px;
  width: 100%;
}

.contents {
  position: relative;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFF;
  margin-bottom: 50px;
}

.contents h1 {
  padding: 20px;
  margin: 20px;
  border-bottom: 3px solid #000;
  color: #222;
}

.contents section {
  margin: 50px;
  text-align: center;
}

.contents h2 {
  display: inline-block;
  border-bottom: 2px solid #000;
}

.contents p {
  margin-left: 20px;
  margin-top: 10px;
  line-height: 200%;
}

.contents .youtube {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  width: calc(100vw - 100px);
}

/***************************************************************/
/*横480px以上(PC, 横向きタブレット)*/
/***************************************************************/
@media screen and (min-width: 480px) {
  .header {
    height: 100px;
  }

  .contents .youtube {
    width: 480px;
    height: 320px;
    display: table-cell;
  }
}

/***************************************************************/
/*横480px以下(縦向きタブレット)*/
/***************************************************************/
@media screen and (max-width: 480px) {
  .header {
    display: none;
  }

  .contents .youtube {
    width: calc(100vw - 100px);
  }
}
