@charset "utf-8";

:root {
  --background_color: rgba(0, 0, 0, 0.8);
}

.menu {
  width: 100vw;
  top: 0px;
  background-color: var(--background_color);
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 10;
}

.menu .logo {
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
  height: 50px;
}

.menu_bar li {
  display: inline-block;
  vertical-align: middle;
}

.menu_bar .menu_item a {
  position: relative;
  font-size: 20px;
  display: inline-block;
  color: white;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  transition: all 0.5s ease;
  /*border-top: 2px solid #3be5ae;*/
}

.menu_bar .menu_item a::before/*,
.menu_bar .menu_item a::after*/ {
  position: absolute;
  top: -2px;
  left: 0px;
  right: 0px;
  bottom: -2px;
  z-index: 10;
  content: '';
  transition: all 0.2s;
  overflow: hidden;
}

.menu_bar .menu_item a::before {
  width: 0%;
  border-bottom: 3px solid #3be5ae;
}
/*
.menu_bar .menu_item a::after {
  width: 100%;
  border-top: 2px solid var(--background_color);
}*/

.menu_bar .menu_item a:hover::before {
  width: 100%;
}
/*
.menu_bar .menu_item a:hover::after {
  width: 0%;
}*/
